  <style type="text/css">
    .tables {
      width: 100%;
      height: 100px;
    }
    div div[contentEditable] {
      cursor: pointer;
      background-color: #D0D0D0;
      width: 31%;
      font-size: 10px;
      margin: 5px;
      float: left;
    }
    .theGrid {
      float: left; 
      width: 50%;
    }
    .theLabels {
      float: left; 
      width: 45%;
      margin:4px 8px;
    }
    .theLabelsTime {
      float: right; 
      width: 50%;
      margin:4px 8px;
    }
    .theInputs {
      float: left; 
      width: 45%;
      margin:4px 8px;
    }
    .tos {
      float: left; 
      width: 60%;
    }
    .tos p {
      font-size: 16px; 
      display:inline;
    }
    .timeDropdown {
      width: 50%;
      float: left;
    }
    .divider {
      margin-top:10px;
      margin-bottom:10px;
    }
  </style>
<a class="back" href="#/form/interests">
  <span style="text-decoration: none; color:black;" class="fa fa-chevron-left fa-2x"></span>
</a>
<div class="text-center">
  <h2 class="moreInfoTitle">{{currentImage.title}}</h2>
  <h3 class="moreInfoLocation" ng-if="currentImage.price!=0;" id="price">Price: ${{currentImage.price}}</h3>
  <h3 class="moreInfoLocation" ng-if="currentImage.youthPrice!=0 && currentImage.price==0 && currentImage.childPrice==0 && currentImage.youthPrice>currentImage.price" id="price">Price: ${{currentImage.youthPrice}}</h3>
  <h3 class="moreInfoLocation" ng-if="currentImage.childPrice!=0 && currentImage.price==0 && currentImage.youthPrice==0 && currentImage.youthPrice>currentImage.childPrice" id="price">Price: ${{currentImage.childPrice}}</h3>
</div>
<div></div>
<div id="purchase_window" class="row col-sm-12">
  <div style="display:inline-block; min-height:200px;">
        <datepicker ng-change="checkDate(formData.date)" ng-click="open($event)" class="well well-sm" show-weeks="false" ng-model="formData.date" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"></datepicker>

    </div>
      <div class= "cart inline pull-left" style="display=inline;width:55%">
        <p style="display:block">Select a time:<p>
          <select class="form-control timeDropdown" ng-model="timez" ng-required="true" ng-init="timez = currentImage.startTime[0]">
            <option ng-repeat="time in currentImage.startTime" >{{time}}</option>
          </select>
      </div>

    <div class="cart inline pull-right" style="display=inline;width:25%">
      <div ng-show="currentImage.price!=0;">
        <div ng-init="numberOfAdults=1;">
          <div class="selectNumber"><h4>Adult:</h4>
          <input type="number" min="1" max= "{{currentImage.maxOcc}}" ng-model="numberOfAdults">
          <p style="font-size: 14px;"> <strong>${{currentImage.price}} each</strong></p>
        </div>
      </div>
    </div>
        <div ng-if="currentImage.youthPrice!=0;">
        <div ng-init="numberOfYouth=1;">
          
        <div class="selectNumber"><h4>Youth </h4>
          <input type="number" min="0" max= "{{currentImage.maxOcc}}" ng-model="numberOfYouth">
          <p style="font-size: 14px"> <strong>${{currentImage.youthPrice}} each</strong></p>
        </div>
        </div>
      </div>
      <div ng-if="currentImage.childPrice!=0;">
        <div ng-init="numberOfChildren=1;">
          
        <div class="selectNumber"><h4>Child</h4>
            <input type="number" min="0" max= "{{currentImage.maxOcc}}" ng-model="numberOfChildren" style="margin-left:5px;">
            <p style="font-size: 14px"><strong>${{currentImage.childPrice}} each</strong></p>
        </div>
      </div>
    </div>
    <div ng-if="currentImage.price==0;"><div class="inline pricepadding"></div></div>
    <div ng-if="currentImage.youthPrice==0;"><div class="inline pricepadding"></div></div>
    <div ng-if="currentImage.childPrice==0;"><div class="inline pricepadding"></div></div>
      <div class="inline" style="margin-top:5px;"><h4>Subtotal:</h4><span class="pull-right">{{paymentSubtotal | currency}}</span><br></div>
      <div class="inline"><h4>Tax & Fees:</h4><span class="pull-right">{{tax_and_fee | currency}}</span><br></div>
      <div class="inline"><h4>Total:</h4><span class="pull-right">
            {{paymentPrice | currency}}
      </span>
      </div>
    </div>
</div>
  <form name="userForm" id="checkout" enctype="application/x-www-form-urlencoded" novalidate>
    <div class="cart2 col-sm-8 inline" style="width:55%">
      <div >Full Name:</div>
      <div class="form-group" ng-class="{ 'has-error': userForm.name.$invalid && !userForm.name.$pristine }">
        <input type="text" class="form-control" name="name" ng-model="formData.fullName" required>
      </div>
      <div class="tables">
      <div class="theGrid">Email:</div><div class="theGrid">Phone:</div><br class="clearfix">
      <div class="form-group theGrid" ng-class="{ 'has-error': userForm.email.$invalid && !userForm.email.$pristine }">
        <input name="email" type="email" class="form-control" ng-model="formData.email" required></input>
      </div>
      <div class="form-group theGrid" ng-class="{ 'has-error': userForm.phone.$invalid && !userForm.phone.$pristine }">
        <input name="phone" ng-pattern="onlyNumbers" type="text" class="form-control" ng-model="formData.phone" required></input>
      </div>
    </div>  
    </div>
    <alert ng-repeat="alert in alerts" type="alert.type" class="text-center alert alert-danger alert-dismissible" close="alert.close()">{{alert.msg}}</alert>
      <div id="dropin"></div>
      <div class="tos" >
        <input type="checkbox" name="agreement" ng-model = "formData.agreement" value="yes" required>&nbsp; <p>I agree to the <a href="#/terms"> Terms of Service</a></p>
      </div>
      <div class="tos" >
        <input type="checkbox" name="agreement" ng-model = "formData.weightAgreement" value="yes" required>&nbsp; <p>I agree to the <a href="#/requirements">Age, Weight & Ability requirements</a></p>
      </div>
      <div class="tos" >
        <p style="color:red; font-size:12px;">Prices are shown in Canadain Dollars, <b>we will be charging in US Dollars</b></p>
      </div>
      
      <button analytics-on="click" analytics-event="Check out - {{currentImage.title}}" analytics-category="{{api_key}}" type="button" class="btn btn-warning pull-right btn-xlarge buttonPosition" ng-click="processPayment()"  ng-disabled="userForm.$invalid" >Checkout</button>
    
  </form>
