    <a href="#/form/interests">
      <span style="text-decoration: none; color:black;" class="fa fa-chevron-left fa-2x"></span>
    </a>
<div class="text-center">
    <h2>{{currentImage.title}}</h2>
      </div>
      <div id="purchase_window">
      <div style="margin-top: 28px;"><img ng-src="{{currentImage.thumbnail}}"></div>
        <h3 id="price">Price: ${{currentImage.price}}</h3>
      <div class="row">
        <div class= "col-md-5" ng-init="numberOf=1;">
        <h3>Number of People:</h3>
<!--         <select class="pull-left" id="numberOf">
        <option id= "1" value="1">1</option>
        <option id= "2" value="2">2</option>
        <option id= "3" value="3">3</option>
        <option id= "4" value="4">4</option>
        <option id= "5" value="5">5</option>
        <option id= "6" value="6">6</option>
        <option id= "7" value="7">7</option>
        <option id= "8" value="8">8</option>
        </select>{{currentImage.minOcc}} -->
        <div style="display=inline;">
        <input type="number" min="1" max= "{{currentImage.maxOcc}}" ng-model="numberOf">
        <p style="font-size: 16px"> <strong>&nbsp; from ${{currentImage.price}} each</strong></p>
      </div>
      </div>

        <div class="cart col-md-4 pull-right">
          <h4>Subtotal:</h4><span class="pull-right">{{currentImage.price | currency}}</span><br>
          <h4>Processing Fee:</h4><span class="pull-right">{{currentImage.host_fee_value | currency}}</span><br>
          <h4>Tax:</h4><span class="pull-right">{{currentImage.tax_fee_value | currency}}</span><br>
          <h4>Total:</h4><span class="pull-right">
           <!-- + currentImage.host_fee_value + currentImage.tax_fee_value -->
          <!-- {{numberOf * currentImage.totalPrice | currency}} -->
          {{paymentPrice | currency}}
        </span>
        </div>
        
      </div>
              <hr style="height: 2px;  color:#4C4C4C;">
              <div >
      <div class="col-md-9">
        <h3>Select Dates </h3>
        <p>{{currentImage.description}}</p>
      </div>
<!--         Selected Date: {{ data.date | date:'yyyy-MM-dd a' }}
            <datetimepicker data-ng-model="data.embeddedDate" data-datetimepicker-config="{ startView:'day', minView:'day' }"></datetimepicker> -->
      

        <!-- <div ng-controller="payFormCtl"> -->
        <ng-form validate>
            <!-- <div class="form-group col-md-6 " > 
              <label for="date_time">Date</label> ng-submit="processPaymentForm()"
              <div class="input-group date" id="date_time">
                <input type="text" class="form-control" placeholder=""/>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
              </div> 
            </div> -->
            <div id="messages" class="well" ng-show="message">{{ message }}</div>
            <span class="help-block" ng-show="errorName">{{ errorName }}</span>
            <div class="dropdown col-md-6" style="margin-bottom: 20px;">
              <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" >
                <div class="input-group">
                  <input type="text" class="form-control" name="date" data-ng-model="formData.dateDropDownInput">
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                </div>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="formData.dateDropDownInput" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
              </ul>
            </div>
          </div>

            <div class="billing col-md-12" style="margin-bottom: 20px;"> 
                <h3>Billing Information</h3>
            <div class="form-group col-md-6">
                <label for="fullName">Full Name</label>
                <input type="text" class="form-control" name="fullName" ng-model="formData.fullName" placeholder="Please enter your full name">
              </div>

            <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email"  ng-model="formData.email" placeholder="John@example.com">
              </div>
            <div class="form-group col-md-6">
                <label for="Address">Street Address</label>
                <input type="text" class="form-control" ng-model="formData.street_address" name="Address" placeholder="440 N. Wolfe Road">
              </div>
                <div class="form-group col-md-3">
                <label for="City">City</label>
                <input type="text" class="form-control" ng-model="formData.city"  name="City" placeholder="Sunnyvale">
              </div>
            <div class="form-group col-md-3">
                <label for="State">State/Province</label>
                <input type="text" class="form-control" ng-model="formData.state" name="State" placeholder="California">
              </div>
            <div class="form-group col-md-3">
                <label for="Country">Country</label>
                <input type="text" class="form-control" ng-model="formData.country" name="Country" placeholder="USA">
            </div>
            <div class="form-group col-md-3">
                <label for="Country">Zip/Postal Code</label>
                <input type="text" class="form-control" ng-model="formData.zip_code" name="zip" placeholder="95112">
              </div>
              <div class="col-md-9">
              <input type="checkbox" name="agreement" value="yes">&nbsp; I agree to the <a href="#/terms"> Terms and Conditions</a>
            </div>
            </div>
            <input type="hidden" class="form-control" id="formData.geoip" value="{{geoip}}" />
            <input type="hidden" class="form-control" id="formData.price_paid" value="{{currentProduct.totalPrice}}" />

            <div class="payment col-md-12"> <h3>Payment Method</h3> </div>

            <div class="braintree"></div>
            <div class="clearfix"></div>        
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
      </ng-form>
    </div>
  <hr style="height: 2px;  color: black;">
  <button type="button" class="btn btn-primary pull-right" ng-click="processPaymentForm()">Checkout</button>
    <br></br>
    <br></br>
        <pre>
    {{ formData }} <br>
    {{ geoip }}
  </pre>
      <!-- </div> -->
    