<div id="albumWrapper">
    <div id="albumImage" style="position:relative">
        <img height="450px" ng-src="{{currentImage.image_lg}}" alt="{{currentImage.title}}">
        <div class="description highlighted">
            <p class="updescription">
                <span class="productTitle">{{currentImage.title}}</span><br />
                <span class="productTitle2">{{currentImage.city}}, {{currentImage.state}}</span><br />

                <small>{{currentImage.highLight}} </small>
            </p>
              <span ng-show="currentImage.youthPrice<=currentImage.price && currentImage.price>=currentImage.childPrice" class="price">${{currentImage.price}}</span>
              <span ng-show="currentImage.youthPrice>currentImage.price && currentImage.youthPrice>currentImage.childPrice" class="price">${{currentImage.youthPrice}}</span>
              <span ng-show="currentImage.youthPrice<currentImage.childPrice && currentImage.price<currentImage.childPrice" class="price">${{currentImage.childPrice}}</span>
                <button ng-click="setCurrentImage(currentImage); nextState()" class="btn btn-warning btn-lg overimg-left" analytics-on="click" analytics-event="Main Page - Book Now - {{currentImage.title}}" analytics-category="{{api_key}}"><strong>Book Now</strong>
            </button>
        </div>
    </div>
    <div id="thumbWrapper">
        <a class="arrow prev home leftArrow" ng-click="prevSlide()"></a>
        <a class="arrow next home rightArrow" ng-click="nextSlide()"></a>
        <ul id="thumbList" style="padding: 0px"><!-- analytics-on="click" analytics-event="Main Page - Thumbnails - {{currentImage.title}}" analytics-category="{{api_key}}" -->
            <li id = "anchor{{$index}}" ng-repeat="image in images | filter:categories" ng-click="setCurrentImage(image)" >
                <img width="200px" height="150px" ng-src="{{image.image_lg}}" alt="{{image.title}}">
                <div class="thumbnailDescription">
                    <p class="thumbnailTitle"> {{image.title | limitTo: 22}}{{image.title.length > 22 ? '...' : ''}}</p>
                <p ng-show="image.youthPrice<=image.price" class="thumbnailPrice pull-right">${{image.price}}</p>
                <p ng-show="image.youthPrice>image.price && image.youthPrice>image.childPrice" class="thumbnailPrice pull-right">${{image.youthPrice}}</p>
                <p ng-show="image.youthPrice<image.childPrice && image.price<image.childPrice" class="thumbnailPrice pull-right">${{image.childPrice}}</p>
                </div>
            </li>
        </ul>
    </div>
</div>