<!-- <div style="margin-top: 28px;"><img ng-src="{{currentImage.thumbnail}}"></div> -->

<a href="#/form/profile">
  <span style="text-decoration: none; color:black;" class="fa fa-chevron-left fa-2x"></span>
</a>

        <h2 class="text-center">{{currentImage.title | capitalize}}</h2>
        <h3 class="text-center">{{currentImage.city | capitalize}}, {{currentImage.state | uppercase}}</h3>
      
<div class="container slider">
    <img ng-repeat="slide in slides" class="slide slide-animation nonDraggableImage"
         ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
         ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide}}" width="100%" height="100%">

    <a class="arrow prev" ng-click="nextSlide()"></a>
    <a class="arrow next" ng-click="prevSlide()"></a>
    <nav class="nav">
        <div class="wrapper">
            <ul class="dots">
                <li class="dot" ng-repeat="slide in slides">
                    <a href="#" ng-class="{'active':isCurrentSlideIndex($index)}"
                       ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a></li>
            </ul>
        </div>
    </nav>
</div>
        <h2 >Price: ${{currentImage.price}}</h2>
      <h3> Overview: </h3> 
        <p> {{currentImage.highLight}}</p>
        <h3> Descriptions: </h3> 
        <p> {{currentImage.mainDescription}}</p>
      </div>
      <div class="col-md-4"> <h4>Requirements:</h4>
        <ul> 
            <li ng-repeat="item in currentImage.requirements track by $index">{{item}}</li>
        </ul>

       </div>
        <div class="col-md-4"> <h4>Included:</h4>
        <ul> 
            <li ng-repeat="item in currentImage.whatIncluded track by $index">{{item}}</li>
        </ul>

       </div>
       <div class="col-md-4"> <h4>What to Bring:</h4>
        <ul> 
            <li ng-repeat="item in currentImage.whatToBring track by $index">{{item}}</li>
        </ul>
       </div>
        <button onclick="location.href='#/form/payment'" class="btn btn-warning btn-lg pull-right" ><strong>Book Now</strong></button>      

